@import '../../../../scss/mixins';

.item {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 40%;
	@include mQ(320px) {
		width: 100%;
	}
	@include mQ(321px, 520px) {
		width: 100%;
	}
	@include mQ(521px, 820px) {
		width: 95%;
	}
	@include mQ(821px, 1260px) {
		width: 60%;
	}
	margin: 5px 0;
	.buttonContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: space-between;
	}
	button {
		display: block;
		font: inherit;
		padding: 5px;
		margin: 0 5px;
		width: 80px;
		border: 1px solid #aa6817;
		cursor: pointer;
		outline: none;

		&:disabled {
			background-color: #ac9980;
			border: 1px solid #7e7365;
			color: #ccc;
			cursor: default;
			&:hover {
				background-color: #ac9980;
				color: #ccc;
				cursor: not-allowed;
			}
		}
	}
	.Label {
		font-family: inherit;
		font-weight: bold;
		font-size: 21px;
		flex-basis: 20%;
		@include mQ(320px) {
			font-size: 20px;
		}
		@include mQ(321px, 520px) {
			width: 100%;
		}
	}
	.Less {
		background-color: #d39952;
		color: white;
		&:hover,
		&:active {
			background-color: #daa972;
			color: white;
		}
	}
	.More {
		background-color: #8f5e1e;
		color: white;
		&:hover,
		&:active {
			background-color: #99703f;
			color: white;
		}
	}
}
