@import '../../../../../scss/mixins';

.menu {
	display: none;
	flex-direction: column;
	height: 100vh;
	position: absolute;
	top: 10vh;
	right: 0;
	transition: transform 0.3s ease-in-out;
	background: transparentize($color: #703b09, $amount: 0.05);
	width: 40%;
	z-index: 11;
	transform: translateX(100%);

	@include mQ(499px) {
		display: flex;
	}

	@include mQ(315px, 400px) {
		width: 50%;
	}
}
